/* $Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:1em;
}

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 0;
 border-bottom: 1px solid #778;
 font: bold 12px Verdana, sans-serif;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 3px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #AAE;
 border-color: #227;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:5px;
 border:1px solid #aaa;
 border-top:0;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 height:500px;

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 overflow:auto;
}

/* If desired, hide the heading since a heading is provided by the tab */
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}

/* Example of using an ID to set different styles for the tabs on the page */
.tabberlive#tab1 {
}
.tabberlive#tab2 {
}
.tabberlive#tab2 .tabbertab {
 height:400px;
 overflow:auto;
}

.drag {
    position: absolute;
}

input.groovybutton {
   font-size:14px;
   font-weight:bold;
   color:#000000;
   width:100px;
   height:80px;
   background-color:#FFFF00;
   border-width:2px;
}
input.largebutton {
   font-size:14px;
   font-weight:bold;
   color:#000000;
   width:125px;
   height:60px;
   background-color:#FFFF00;
   border-width:2px;
}
input.mediumbutton {
   font-size:14px;
   font-weight:bold;
   color:#000000;
   width:110px;
   height:50px;
   background-color:#FFFF00;
   border-width:2px;
}
input.itembutton {
   font-size:9px;
   font-weight:bold;
   color:#000000;
   width:80px;
   height:40px;
   background-color:#BDBDBD;
   border-width:1px;
}
input.optionbutton {
   font-size:9px;
   font-weight:bold;
   color:#000000;
   width:70px;
   height:30px;
   background-color:#BDBDBD;
   border-width:1px;
}
input.backbutton {
   color:#000000;
   width:100px;
   height:80px;
   background-color:#FFFF00;
   background-image:url(img/back-icon.jpg);
   border-width:2px;
}
input.nextbutton {
   color:#000000;
   width:100px;
   height:80px;
   background-color:#DDDDDD;
   background-image:url(img/next-icon.jpg);
   border-width:2px;
}
input.smallbackbutton {
   color:#000000;
   width:65px;
   height:65px;
   background-color:#FFFF00;
   background-image:url(img/previous-icon-small.jpg);
   border-width:2px;
}
input.smallnextbutton {
   color:#000000;
   width:65px;
   height:65px;
   background-color:#DDDDDD;
   background-image:url(img/next-icon-small.jpg);
   border-width:2px;
}
input.cancelbutton {
   color:#000000;
   width:80px;
   height:60px;
   background-color:gray;
   border-width:2px;
}
input.plusbutton {
   color:#000000;
   width:48px;
   height:48px;
   background-color:#DDDDDD;
   background-image:url(img/plus.jpg);
   border-width:1px;
}
input.minusbutton {
   color:#000000;
   width:48px;
   height:48px;
   background-color:#DDDDDD;
   background-image:url(img/minus.jpg);
   border-width:1px;
}

input.navibutton {
   font-size:14px;
   font-weight:bold;
   color:#000000;
   width:80px;
   height:40px;
   background-color:gray;
   border-width:2px;
}

input.paymentbutton {
   font-size:14px;
   font-weight:bold;
   color:#000000;
   width:80px;
   height:40px;
   background-color:#FFFF00;
   border-width:1px;
}
input.creditbutton {
   font-size:14px;
   font-weight:bold;
   color:#000000;
   width:100px;
   height:40px;
   background-color:#FFFF00;
   border-width:1px;
}
input.numberbutton {
   font-size:14px;
   font-weight:bold;
   color:#FF8000;
   width:50px;
   height:50px;
   background-color:gray;
   border-width:1px;
}
input.numberbutton2 {
   font-size:14px;
   font-weight:bold;
   color:#FF8000;
   width:100px;
   height:50px;
   background-color:gray;
   border-width:1px;
}
input.dollarbutton {
   font-size:14px;
   font-weight:bold;
   color:#74DF00;
   width:50px;
   height:50px;
   background-color:gray;
   border-width:1px;
}
input.tipsbutton {
   font-size:14px;
   font-weight:bold;
   color:#FFFFCC;
   width:50px;
   height:50px;
   background-color:gray;
   border-width:1px;
}
input.clearbutton {
   font-size:14px;
   font-weight:bold;
   color:#FFFF00;
   width:100px;
   height:50px;
   background-color:gray;
   border-width:1px;
}
input.settlebutton {
   font-size:14px;
   font-weight:bold;
   color:#00BFFF;
   width:130px;
   height:50px;
   background-color:gray;
   border-width:1px;
}
input.homenavibutton {
   font-size:13px;
   font-weight:bold;
   color:#FFFFCC;
   width:110px;
   height:55px;
   background-color: #3399FF;
   border-width:1px;
}